<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Templates-Task Manager</title>
    <script src="./template.js" defer></script>
    <link rel="stylesheet" href="./template.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div id="container">
      <div id="filter-container">
        <div id="filter_headers">
          <i class="fa-solid fa-house"></i>
          <input id="filter-search" placeholder="Search" type="text" />
          <small id="small_filter_item" class="filter-items">CATEGORIES</small>
          <div id="filter_item_list"></div>
        </div>
      </div>
      <div id="image-container">
        <div id="image-list-wrapper-top">
          <div class="image image_1">
            <h1>Content Calender</h1>
          </div>
          <div class="image image_2"><h1>Project Tracker</h1></div>
          <div class="image image_3"><h1>Marketing Campaign Tracking</h1></div>
        </div>
        <div id="image-list-wrapper-bottom">
          <div class="image image_4"><h3>Prduct Ops for Teams</h3></div>
          <div class="image image_5"><h3>Product Catalouge</h3></div>
          <div class="image image_6"><h3>Product Launch</h3></div>
          <div class="image image_7"><h3>Bug Tracker</h3></div>
          <div class="image image_8"><h3>Event Planning</h3></div>
          <div class="image image_9"><h3>User Research</h3></div>
          <div class="image image_10"><h3>Simple Applicant Tracker</h3></div>
          <div class="image image_11"><h3>Digital Video Production</h3></div>
        </div>
        <div class="" id="mid-container">
          <div class="mid-container-list"></div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="line"></div>
      <div id="footer-content">
      </div>
    </div>
  </body>
</html>
