<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Templates-Task Manager</title>
    <script src="./template.js" defer></script>
    <link rel="stylesheet" href="./template.css" />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div id="navbar">
      <div id="box1">
        <div id="img">
          <img id="img_link" src="../Navbar/TASK (1).png" alt="error" />
          
        </div>
        <ul id="module">
          <li>
            <a href="">Product ></a>
            <div class="drop">
              <div>
                <h2><a href="#">Overview</a></h2>
                <p>Welcome to Airtable! Here’s the basics</p>
              </div>
              <div>
                <h2><a href="#">Features</a></h2>
                <p>Discover Automation</p>
              </div>
              <div>
                <h2><a href="#">Integrations</a></h2>
                <p>Bring Your Fav.</p>
              </div>
              <div>
                <h2>Market Place</h2>
              </div>
              <div>
                <h2>Download Apps</h2>
              </div>
              <div>
                <h2>What's New</h2>
              </div>
              <img src="../image/product.png" alt="" />
            </div>
          </li>
          <li>
            <a href="">Solutions ></a>
            <div class="drop">
              <div>
                <h2>By Team</h2>
                <p>See how teams of all stripes and sizes use Airtable</p>
              </div>
              <div>
                <h2>By use case</h2>
                <p>
                  Get inspired by use cases that’ll make you fall in love with
                  Airtable
                </p>
              </div>
              <div>
                <h2>
                  <a href="#">See all solutions</a>
                </h2>
              </div>
              <img src="../image/solution.png" alt="" />
            </div>
          </li>
          <li><a href="#">Pricing </a></li>
          <li>
            <a href="#">Enterprise ></a>
            <div class="drop">
              <div>
                <h2>
                  <a href="#">Enterprise Overview</a>
                </h2>
                <p>
                  See how Airtable scales for large and complex organizations
                </p>
              </div>
              <div>
                <h2>Enterprise Services</h2>
                <p>
                  We offer professional services and support to help you get the
                  most from Airtable
                </p>
              </div>
              <div>
                <h2>Enterprise Security</h2>
                <p>Learn about our data protection, admin tooling, and more</p>
              </div>
            </div>
          </li>
          <li>
            <a href="">Resources ></a>
            <div class="drop">
              <div>
                <h2><a href="#">Universe</a></h2>
              </div>
              <div>
                <h2><a href="#">Template</a></h2>
              </div>
              <div>
                <h2>Blog</h2>
              </div>
              <div>
                <h2>Support</h2>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div id="box2">
        <div><button class="contact">Contact sales</button></div>
        <div><button class="signup">Sign up</button></div>
        <div><button id="login">Sign In</button></div>
      </div>
    </div>
    <div id="container">
      <div id="filter-container">
        <div id="filter_headers">
          <i class="fa-solid fa-house"></i>
          <input id="filter-search" placeholder="Search" type="text" />
          <small id="small_filter_item" class="filter-items">CATEGORIES</small>
          <div id="filter_item_list"></div>
        </div>
      </div>
      <div id="image-container">
        <div id="image-list-wrapper-top">
          <div class="image image_1">
            <h1>Content Calender</h1>
          </div>
          <div class="image image_2"><h1>Project Tracker</h1></div>
          <div class="image image_3"><h1>Marketing Campaign Tracking</h1></div>
        </div>
        <div id="image-list-wrapper-bottom">
          <div class="image image_4"><h3>Prduct Ops for Teams</h3></div>
          <div class="image image_5"><h3>Product Catalouge</h3></div>
          <div class="image image_6"><h3>Product Launch</h3></div>
          <div class="image image_7"><h3>Bug Tracker</h3></div>
          <div class="image image_8"><h3>Event Planning</h3></div>
          <div class="image image_9"><h3>User Research</h3></div>
          <div class="image image_10"><h3>Simple Applicant Tracker</h3></div>
          <div class="image image_11"><h3>Digital Video Production</h3></div>
        </div>
        <div class="" id="mid-container">
          <div class="mid-container-list"></div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="line"></div>
      <div id="footer-content">
      </div>
    </div>
  </body>
</html>
